*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;

}
a{
	color: black;
}

body{
    background: rgb(163, 218, 238);
}

.logo {
	height: 66px;
	margin-right: 30px;
}
.logo img{
	height: 100%;
}
nav button{
	height: 30px;
	width: 100px;
	margin: 0 10px;
	text-align: center;;
  	color:rgb(0,111, 255,1) ;
	background: white;
	border: none;
	border-radius: 2.5px;
	
}
#navigation-link1, #navigation-link2, #navigation-link3{
	color: white;
	font-weight: bold;
	padding-left:30px;
}
#navigation-link3 i{
	padding-right: 10px;
}
li>input{
    width: 400px;
    height: 35px;
    border-radius: 2px;
	margin-top: 8px;
    border: none;
    padding: 10px;
    outline: none;
}
::placeholder{
	font-size: 12px;

}
.dropdown-menu li{
	padding: 10px;
	font-size: 14px;
	border-bottom: 1px solid rgb(231, 222, 222);
}
.dropdown-menu li:last-child{
	border: none;
}
.dropdown-menu li i{
	padding-right: 10px;
	color:rgb(0,111, 255,1)  ;
}
.dropdown-menu li a{
	color: black;
	font-size: 14px;
	text-decoration: none;

}
.dropdown-menu li:hover{
	background: rgb(241, 239, 239);
}

.header-area{
    width: 100.9%;
    
  

}
.header-area figure {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}
.header-area figure img{
    width: 60px;
    height: 60px;
}
figure{
	position: relative;
	padding-bottom: 10px;
}
figcaption a{
	color: black;
	text-decoration: none;
}
figcaption .listout{
    width: 300px;
    background-color: white;
    border-right: 1px solid rgba(255, 255, 255, 0.89);
    position: absolute;
    top: 101%;
    display: none;
   	z-index: 99;
} 


figure:hover .listout{
	display: block;
}

figcaption li:hover{
    background: rgb(227, 237, 240);
}
figcaption>li>a{
    font-weight: normal;
}
figcaption li:hover a{
    color:rgb(0,111, 255,1);
   font-weight: bold;
}
 .listout{
    position: relative;
	display: none;
}


.listout>li{
    text-align: left;
    list-style: none;
    padding: 20px;
}
 .inlist{
    width: 250px;
    position: absolute;
    left: 70%;
    top:0;
    background: white;
    padding:20px;
    display: none;
    list-style: none;
	

} 

.inlist h5{
    font-size: 12px;
}
.inlist li{
    padding: 20px 5px;
}
.listout>li:hover .inlist{
    display: block;

}
.inlist li:hover{
    background:rgb(227, 237, 240); 
} 
/*auto slidr  */
.auto-sider{
	z-index: -1;
}
.carousel-control-prev{
	left: 12px !important;
	top: 30% !important;
	font-size: 50px !important;
	background: rgba(128, 126, 126, 0.534) !important;
	height: 100px;
	width: 45px !important;
	border-radius: 3px;
}
.carousel-control-next{
	right: 12px !important;
	top: 30% !important;
	font-size: 50px !important;
	background: rgba(128, 126, 126, 0.534) !important;
	height: 100px;
	width: 45px !important;
	border-radius: 3px;
}
/*  auto slidr*/


.home-demo .item {
	padding: 10px;
	height: 300px;
	width: 200px;
	text-align: center;
	padding-bottom: 10px;
	margin:0 10px;
}
.home-demo a{
	color:grey;
	text-decoration: none;
}
.item img{
	width: 50%;
	height: 65%;
	background-size: cover;
}
.item h5{
	padding-top: 20px;
}
.item p{
	font-size: 12px;
}

.item-div-cost{
	color: green;
	line-height: 1;
	font-size: 12px;
}
.owl-carousel .owl-prev{
	position: absolute;
	left: -18px;
	top: 30%;
	color: black !important;
	background: rgba(128, 126, 126, 0.534)  !important;

	height: 100px;
	width: 40px;
	font-size: 50px !important;

}
.owl-carousel .owl-next{
	position: absolute;
	right: -18px;
	top: 30%;
	color: black !important;
	background:  rgba(128, 126, 126, 0.534)  !important;
	height: 100px;
	width: 40px;
	font-size: 50px !important;

}
.owl-carousel .owl-next:hover{
	color: black;
}




.footer-top-heading{
	color: rgb(172, 169, 169);
	font-weight: normal;
}
.footer-top-heading2{
	color: rgb(129, 143, 160);
	padding: 0;
}
.footer-top-links{
	color: rgb(87, 86, 86);
	font-size: 12px;
	text-decoration: none;
}
.footer-top-div p {
	color: grey;
	font-size: 11px;
}
.main-footer{
	background: rgb(9, 23, 48);
}
.footer-row ul{
	width: 190px;
	list-style: none;
	padding:10px ;
}
.footer-row ul li{
	color: white;
	font-size: 11px;
	padding-top:5px ;
}
.footer-row ul h4{
	padding-top: 20px;
	color: grey;
	font-size: 13px;
}
.footer-row ul a{
	text-decoration: none;
	color: white;
	font-size: 11px;
	line-height: 20px;
}
.footer-row ul:nth-child(5){
	border-left: 1px solid grey;
}
footer a:hover{
	text-decoration: underline;
}
.footer-bottom {
	display: flex;
	list-style: none;
	border-top: 1px solid grey;
	color: white;
	
}
.footer-bottom li{
	padding-right: 20px;
	padding-top: 40px;
	font-size: 12px;
}
.footer-bottom li a{
	color: white;
	text-decoration: none;

}
.footer-bottom li i{
	color: yellow;
	padding-right: 5px;
	font-size: 16px;
}
  @media only screen and (max-width:1280px) {
	  .post-slide .post-content{
		  padding: 0px 15px 25px 15px;
	  }
  }

@media all and (min-width: 992px) {
	.dropdown-menu {
		width: 13rem;
	}
	.mega-submenu {
		left: 100%;
		top: 0;
		min-width: 25rem;
	}
	.ktm-mega-menu {
		position: static;
	}
	.mega-menu {
		left: 0;
		right: 0;
		width: 100%;
	}
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		left: 100%;
		top: 0;
	}
	.dropdown-menu>li:hover>.submenu,
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}
/* seller page  */


/* */
/* header ul li{
padding: 15px 25px  0 0;
}
header ul li a{
	color: grey;
	text-decoration: none;
} */
.seller-btn{ 
	height:40px !important;
	box-shadow: 0 0 5px 1px grey;
}
.blank{
	height: 100px;
}
.seller-sec-1{
	background: url(Images/seller-page/Welcome_potal_banner_Desktop_v2_july_2022.svg)  no-repeat;
	background-size: cover;
	background-position: 40%;
}
.banner-row{
	height: 300px;
	position: relative;
	z-index: 2;
}
.banner-row .mobile{
	position: absolute;
	font-size: 20px;
	top: 124px;
	left: 322px;
	color: gray;

}	
.number-input{
	outline: none;
	border: none;
	width: 300px;
	height: 40px;

}
/* banner section end */


 .founder-row{
	justify-content: center;
	font-size: 12px;
	font-style: italic;
	padding: 20px 0 20px 80px;
	
}

.founder-row figure{
	display: flex;
	width: 350px;
	justify-content: space-between;

}
.founder-row figure figcaption{
	padding-left: 20px;
} 


/* tabbing section */
	
	.container{
		width: 800px;
		margin: 0 auto;
	}



	ul.tabs{
		margin: 0px;
		padding: 20px;
		
		list-style: none;
		text-align: center;
	}
	ul.tabs li{
		background: none;
		color: #222;
		margin: 0 10px;
		font-size: 22px;
		font-weight: bold;
		display: inline-block;
		padding: 10px 20px 10px 20px ;
		cursor: pointer;
		text-align: center;
	}

	ul.tabs li.current{
		border-bottom: 3px solid rgb(0,111, 255,1);
		color: #222;
	}

	.tab-content{
		display: none;
		width: 100%;
		padding: 15px;
	}

	.tab-content.current{
		display: inherit;
	}
	.content-row{
		/* display: flex; */
		text-align: center;
		/* justify-content: space-between; */
	}
	.tabcontent-box{
		text-align: center;
		padding-top: 20px;
		
	}
	.tabcontent-box button{
		width: 40px;
		height: 40px;
		color: white;
		border: none;
		border-radius: 50%;
		background:rgb(0,111, 255,1); ;
	}
	.tabcontent-box h2{
		font-size: 18px;
		padding: 20px;
	}
	.tabcontent-box p{
		text-align: justify;
		padding:10px 15px;
		font-size: 14px;
	}
	.tabcontent-box ul{
		text-align: left;
		font-size: 12px;
		padding: 0px 30px;
		list-style-type: square;;
	}
	
	.content-row iframe{
		width: 400px;
		height: 200px;
	}
	.content-row-main{
		margin-left: 50px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		
	}
	.content-row-main figure{
		width: 310px;
		display: flex;
		text-align: left;
		color: black;
		padding: 20px;
		font-size: 14px;

	}
	.content-row-main figure:hover{
		box-shadow: 0 0 2px 1px rgb(228, 224, 224);
	}
	.content-row-main figure img{
		width: 90px;
		height: 90px;
	}
	.content-row-main figure figcaption{
		padding: 10px 0px 0px 15px;
		line-height: 20px;
	}
	.content-row-main a{
		text-decoration: none;
	}
	.content-row-main button{
		width: 220px;
		padding: 8px;
		text-align: center;
		background: rgb(0,111, 255,1);;
		color: white;
		border: none;
		border-radius: 5px;
	}
	/*tabbing section end  */


	.shopsy-row{
		
		align-items: center;
		font-size: 15px;
		color: rgb(54, 54, 54);
	
	} 
	.shopsy-row a{
		text-decoration: none;
		margin-left: 0;
		font-weight: bold;
		color: blue;
	}
	.shopsy-row img{
		width: 100px;
		height: 100px;
		margin-left: 180px;
	} 
/* shopsy section end */


	.grow{
		background: url(images/seller-page/grow_faster_new.png) no-repeat;
		background-size: 100% 100%;
		height: 300px;
		
	}
	.ignite{
		background: url(images/seller-page/Ignite_WP_banner_v3.svg) no-repeat;
		height: 150px;
	}
	.card-group{
		position: relative;
	}
	.card-btn{
		position: absolute;
		right: 15px;
		top: 15px;
		padding: 4px 8px;
		border: none;
		border-radius: 5px;
		font-size: 14px;
	}
	.para-section{
		padding: 0px;
		font-size: 15px;
		color: rgb(58, 57, 57);
	}
	.para-section a{
		text-decoration: none;
	}
	.seller-footer{
		background: rgb(51, 146, 243);
	}
	.seller-footer .container{
		font-size: 18px;
		font-weight: bold;
		
	}

	.seller-footer .container ul li{
		list-style: none;
		font-size: 12px;
		line-height: 1.7;
		font-weight: normal;
		
	} 
	.seller-footer .container ul a{
		color: white;
		text-decoration: none;
	}
	.seller-footer2{
		text-align: center;
		margin-bottom: 0;
	
	}
	.seller-footer2 a{
		text-decoration: none !important;
		font-size: 12px !important;
	
	}

	.seller-footer2 .s-icons  {
		width: 130px;
		margin-left: 150px;
		padding-right: 0px;
	}
	
	.seller-footer2 .s-icons a {
		border-radius: 50%;
	
	} 
	
	/* .seller-footer2 ul li:nth-child(2){
		padding: 0px 150px;
	}
	.seller-footer2 ul li:nth-child(3){
		padding: 0 10px;
	}
	.seller-footer2 ul li:nth-child(4){
		padding: 0 100px 0 50px;
	} */
	
	/* .seller-footer2 ul .social-icon{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		text-align: center;
		margin-right: 5px;
		margin-left: 5px;

		
	} */
	.accordion-item button{

		border-radius: 5px !important;
	}
	details{
		margin-top: 50px;
		width: 1100px;
	}
	details > summary{
		width: 100%;
		padding: 15px;
		text-align: left;
		box-shadow: 1px 1px 2px #bbbbbb;
		cursor: pointer;
		font-weight: bold;
	}
	details > p{
  		padding: 4px;
  		margin-top: 10px;

 		 box-shadow: 1px 1px 2px #bbbbbb;
	}
	details a{
		text-decoration: none;
		color: #222;
	}